* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  transition: 300ms;
}

:root {
  --NavBG: #2f4080;
  --BorderGrey: #c4c4c4;
  --PrimaryGrey: #8d8d8d;
  --MobileBrandText: 5vw;
  --MobileRegularText: 2.3vw;
}

.Header {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}

.SearchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBarHeader {
  justify-content: center;
  display: flex;
}

.SearchBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: var(--BorderGrey);
  overflow: hidden;
}

.NavProvince {
  height: 100%;
  align-items: center;
  display: flex;
}

.NavProvinceSelectIcon {
  margin-left: 1vw;
}

.NavProvinceBox {
  height: 100%;
  border: none;
}

.SearchBox {
  width: 60vw;
  height: 100%;
  border: none;
}

.SearchButton {
  height: 100%;
  padding: 0 10px 0 10px;
  background-color: white;
  border: none;
}

.SearchButton:hover {
  background-color: #d4d3d3fb;
  cursor: pointer;
}

.ToggleSearchFilter {
  margin-top: 1.5vh;
  font-size: 2em;
  display: none;
}

.LogoContainer {
  display: flex;
  align-items: center;
  margin: 0 0 0 160px;
}

.Logo {
  height: 58px;
}

.TextLogo {
  height: 28px;
}

.NavBar {
  display: flex;
  height: 65px;
  margin: 15px 0 0 0;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--NavBG);
}

.ResetSearchButton {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  margin-left: 160px;
  font-size: 1.3em;
  font-weight: 300;
}

.NavFind {
  color: white;
  margin-left: 1vw;
  font-size: 1.3em;
  font-weight: 300;
}

.ResetSearchButton:hover {
  cursor: pointer;
}

.SearchQueryText {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin: 30px 0 75px 22.5px;
}

.Body {
  display: flex;
}

.SideBar {
  width: 467.5px;
  margin: 0 0 0 22.5px;
  background-color: white;
  border: solid;
  border-width: 0.5px;
  border-color: #2f4080;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarContainer {
  display: flex;
  margin: 24px 0 0 20px;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarRadio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RadioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.RadioButton {
  transform: scale(1.5);
}

.RadioText {
  margin-left: 15px;
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.SideBarSelect {
  width: 350px;
  height: 40px;
  border-color: var(--BorderGrey);
}

.Provinces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
}

.Prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.PricesSymbol {
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Merchants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Merchant {
  height: 325px;
  width: 70vw;
  margin: 0 0 12.5px 22.5px;
  border: solid;
  border-radius: 3px;
  border-width: 0.5px;
  border-color: #c9e0e9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.MerchantText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0 30px;
}

.MerchantImagePreview {
  height: 312px;
  min-width: 320px;
  border-radius: 3px;
  background-size: cover;
  margin: 5.5px 0 0 6.5px;
  background-position: 50% 50%;
}

.MerchantHead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.MerchantSecondRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 3.5vw;
  color: var(--PrimaryGrey);
}

.DistrictName {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.MerchantHighlight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
  color: var(--PrimaryGrey);
}

.MerchantRecommended {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
}

.FacilityImage {
  margin-right: 1vw;
}

.ReadMoreButton {
  margin-top: 3vh;
  width: 25vw;
  height: 5vh;
}

.ReadMoreButton:hover {
  cursor: pointer;
}

.ShopStatus {
  margin-left: 23px;
}

.ShopStatus .Open {
  padding: 5px 5px 5px 5px;
  background-color: #1fc300;
  border-radius: 0.25em;
  color: white;
}

.ShopStatus .Closed {
  padding: 5px 5px 5px 5px;
  background-color: #a1a1a1;
  border-radius: 0.25em;
  color: white;
}

.Show {
}

@media only screen and (max-width: 1278px) {
  .LogoContainer {
    margin: 0 0 0 10vw;
  }

  .TextLogo {
    display: none;
  }

  .NavProvinceSelectIcon {
    display: flex;
    margin-right: 2vw;
  }

  .SearchBox {
    width: 50vw;
  }

  .ToggleSearchFilter {
    margin-left: 1vw;
    display: flex;
    color: var(--NavBG);
  }

  .ToggleSearchFilter:hover {
    margin-left: 1vw;
    display: flex;
    cursor: pointer;
    color: #4063ff;
  }

  .ResetSearchButton {
    margin-left: 6vw;
  }

  .SideBar {
    position: absolute;
    /* display: none; */
    transform: translate(-500px, 0px);
    border-color: white;
  }

  .Show {
    transform: translate(0px, 0px);
  }

  .Merchant {
    width: 95vw;
  }
}

@media only screen and (max-width: 750px) {
  .SearchBarHeader {
    justify-content: space-around;
  }

  .Logo {
    height: 10vw;
  }

  .Header {
    width: 100vw;
  }

  .LogoContainer {
    margin: 0 0 0 1vw;
  }

  .NavProvince {
    display: none;
  }

  .ToggleSearchFilter {
    margin-right: 1vw;
    margin-left: 2vw;
    display: flex;
    color: var(--NavBG);
  }

  .SearchQueryText {
    margin: 30px 0 6vh 22.5px;
  }

  .SideBarSelect {
    width: 80vw;
  }

  /* .SideBar {
    display: none;
  } */

  .Merchant {
    height: unset;
    width: 90vw;
    flex-direction: column;
  }

  .MerchantHead {
    font-size: var(--MobileBrandText);
  }

  .MerchantImagePreview {
    min-height: 25vh;
    min-width: 85vw;
  }
  .MerchantSecondRow {
    font-size: var(--MobileRegularText);
    font-weight: 400;
    margin-bottom: 3em;
  }

  .MerchantHighlight {
    font-size: var(--MobileRegularText);
    font-weight: 400;
    margin-bottom: 1em;
  }

  .MerchantRecommended {
    margin-bottom: 3vw;
    font-size: var(--MobileRegularText);
  }

  .ShopStatus .Closed {
    padding: 0em 0.25em 0em 0.25em;
  }

  .ShopStatus .Open {
    padding: 0em 0.25em 0em 0.25em;
  }
}
