* {
  padding: 0;
  margin: 0;
}

:root {
  --NavBG: #2f4080;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.Logo {
  height: 58px;
}

.TextLogo {
  height: 28px;
}

.NavBar {
  width: 100vw;
  height: 65px;
  background-color: var(--NavBG);
}

.SideBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarRadio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
