* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --NavBG: #2f4080;
}

.Header {
  margin: 15px 0 0 0;
}

.LogoContainer {
  display: flex;
  align-items: center;
  margin: 0 0 0 160px;
}

.Logo {
  height: 58px;
}

.TextLogo {
  height: 28px;
}

.NavBar {
  height: 65px;
  margin: 15px 0 0 0;
  background-color: var(--NavBG);
}

.SearchQueryText {
  text-align: left;
  margin: 30px 0 75px 22.5px;
}

.Body {
  display: flex;
}

.SideBar {
  width: 467.5px;
  margin: 0 0 0 22.5px;
  border: solid;
  border-width: 0.5px;
  border-color: #2f4080;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarContainer {
  display: flex;
  margin: 24px 0 0 20px;
  flex-direction: column;
  align-items: flex-start;
}

.SideBarRadio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RadioContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.RadioText {
  margin-left: 15px;
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.Provinces {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.Prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.PricesSymbol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Merchants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Merchant {
  height: 325px;
  width: 70vw;
  margin: 0 0 12.5px 22.5px;
  border: solid;
  border-radius: 3px;
  border-width: 0.5px;
  border-color: #C9E0E9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.MerchantText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0 30px;
}

.MerchantImagePreview {
  height: 312px;
  min-width: 320px;
  border-radius: 3px;
  background-size: cover;
  margin: 5.5px 0 0 6.5px;
  background-position: 50% 50%;
}

.MerchantHead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.MerchantSecondRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 75px;
}

.MerchantHighlight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
}

.MerchantRecommended {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
}

.ShopStatus {
  margin-left: 23px;
}

.ShopStatus .Open {
  padding: 12px 5px 12px 5px;
  background-color: #1fc300;
  color: white;
}

.ShopStatus .Closed {
  padding: 12px 5px 12px 5px;
  background-color: #a1a1a1;
  color: white;
}
